.homepage {
    display: grid;
    justify-items: center;
    /* min-height: 95vh;
    background-image: url('/img/AIbackgroundTestForLogin.jpg');
    background-repeat: no-repeat; /* Forhindrer gjentakelse av bildet */
    background-size: cover; /* Dekker hele tilgjengelig plass, kan også bruke contain for å passe inn hele bildet */
    background-position: center; /* Sentrerer bildet i div-en */
}

.introduction {
    width: 80vw;
    text-align: center;
}

.searchField {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 0.5em;
}

.searchField p {
    margin-bottom: -5px;
}

#showResultInGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90vw;
}
