*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    margin: 0;
}

#app {
    height: 100vh;
    /* width: 100dvw; */
    border: 0.1em solid black;
    
}

.header {
    height: 40px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.darkmode {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.darkmode span {
    cursor: pointer;
}

.header img {
    cursor: pointer;
    height: 30px;
    margin-right: 5px;
}
